@model IEnumerable<PersonResponse>
@{
	ViewBag.Title = "Index";
}
<link href="~/css/datatable/datatables.semanticui.min.css" rel="stylesheet" />
<h1>Persons</h1>
<a asp-action="Create" class="link-hover">Create Person</a>
<a asp-controller="Persons" asp-action="PersonsPDF">Download as PDF</a>
<a asp-controller="Persons" asp-action="PersonsCSV" class="ml">Download as CSV</a>
<a asp-controller="Persons" asp-action="PersonsExcel" class="ml">Download as Excel</a>

<form asp-action="Index" method="get">
	<div class="flex box">
		<div class="flex-1">
			<select class="form-input" name="searchBy">
				@foreach (var field in ViewBag.searchFields as Dictionary<string, string>)
				{
					if (field.Value == ViewBag.currentSearchBy)
					{
						<option value="@field.Key" selected>@field.Value</option>
					}
					else
					{
						<option value="@field.Key">@field.Value</option>
					}
				}
			</select>
		</div>
		<div class="flex-1">
			<input type="search" class="form-input" id="searchString" name="searchString" placeholder="Search" value="@ViewBag.currentSearchString" />
		</div>
		<div class="flex-1">
			<button class="button button-blue-back">Search</button>
			<a href="~/Persons/Index" class="link-hover">Clear All</a>
		</div>
	</div>
</form>
<table class="table mt w-100">
	<thead>
		<tr>
			<th>
				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName" , nameof(PersonResponse.PersonName)},
				{"DisplayName" , "Person Name"}
				})
			</th>
			<th>
				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName" , nameof(PersonResponse.Email)},
				{"DisplayName" , "Email"}
				})
			</th>
			<th>
				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName" , nameof(PersonResponse.DateOfBirth)},
				{"DisplayName" , "Date of Birth"}
				})
			</th>
			<th>
				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName" , nameof(PersonResponse.Age)},
				{"DisplayName" , "Age"}
				})
			</th>
			<th>
				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName" , nameof(PersonResponse.Gender)},
				{"DisplayName" , "Gender"}
				})
			</th>
			<th>
				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName" , nameof(PersonResponse.Address)},
				{"DisplayName" , "Address"}
				})
			</th>
			<th>
				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName" , nameof(PersonResponse.Country)},
				{"DisplayName" , "Country"}
				})
			</th>
			<th>
				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName" , nameof(PersonResponse.ReceiveNewsLetters)},
				{"DisplayName" , "Receive NewsLetters"}
				})
			</th>
			<th>
				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName" , nameof(PersonResponse.TIN)},
				{"DisplayName" , "Tax Indetification Number"}
				})
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var person in Model)
		{
			<tr>
				<td>@person.PersonName</td>
				<td>@person.Email</td>
				<td>@person.DateOfBirth?.ToString("dd MMMM yyyy")</td>
				<td>@person.Age</td>
				<td>@person.Gender</td>
				<td>@person.Address</td>
				<td>@person.Country</td>
				<td>@person.ReceiveNewsLetters</td>
				<td>@person.TIN</td>
				<td>
					<a asp-action="Edit" asp-route-Id="@person.Id">Edit</a>
					<a asp-action="Delete" asp-route-Id="@person.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>